
#bodyProdutos{
  background-color: red;
}
.teste{

  border: 1px;
  text-align: center;
  width: 250px;
   height: 250px;

}

.imagemSlide{

  align: center;
  width: 1300px;
  height: 500px;
}

 .carrossel{

   height:500px

 }



.superDiv{

  align: center;

}

.form-admin-produto{
  width:500px;
  margin: auto;
}

  .h1AdmProd{
      font-size: 60px;
      text-align: center;
  }

  .h2AdmProd{
        font-size: 20px;
    }

    .divAdmProd{
      border: 1px;
      text-align: center;
      align-self: center;
    }
