
/* grid 960px */
.linha{
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}
.coluna{
	padding: 0 10px;
	float: left;
}
.col1{
	width: 60px;
}
.col2{
	width: 140px;
}
.col3{
	width: 220px;
}
.col4{
	width: 300px;
}
.col5{
	width: 380px;
}
.col6{
	width: 460px;
}
.col7{
	width: 540px;
}
.col8{
	width: 620px;
}
.col9{
	width: 700px;
}
.col10{
	width: 780px;
}
.col11{
	width: 900px;
}
.col12{
	width: 940px;
}
/* estilos reutilizáveis */
.sem-padding{
	padding: 0 !important;
}
.sem-margin{
	margin: 0 !important;
}

ul.inline li, ol.inline li{
	display: inline;
	margin-right: 15px;
}
ul.inline li:last-child, ol.inline li:last-child{
	margin-right: 15px;
}
ul.sem-marcador, ol.sem-marcador{
	list-style: none;
}
a.botao, input.botao{
	background: rgba(35, 17, 35, 0.88);
    opacity: 0.95;
	padding: 5px 10px;
	border-radius: 3px;
	color: #ebebeb;
	cursor: pointer;
	margin: 5px 0;
	display: inline-block;
	border: none;
	width: auto;
}
a.botao:hover, input.botao:hover{
	background: rgba(35, 17, 35, 0.75);
    opacity: 0.95;
	text-decoration: none;
}

.contato{
	margin-top: 10px;
	margin-bottom: 25px;
	margin-left: 140px;
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}
.contato label{
	display: block;
	font-size: 15px;
	font-weight: 300;
	padding: 0px 20;
}
.contato img{
	max-width: 2%;
	height: auto;
}
.contato input, .contato textarea{
	display: block;
	margin-bottom: 15px;
	padding: 5px 2%;
	width: 100%;

}
.contato textarea{
	height: 150px;
}
.contato input.botao{
	width: auto;
	margin-left: 37.6%;
}
.contato h3{
	font-size: 18px;
	font-weight: 500;
}

.endereco{
	margin-left: 20px;
	text-align: center;
}

.endereco h1{
	font-weight: bold;
}

.localiza{
	padding-top: 20px;
}

h1.endereco{
	text-align: center;
}
.mapa {
	margin-top: 20px;
	margin-bottom: 25px;
}

.erro-form {
	color: #962a2a;
	font-size: 12px;
	margin-top: 5px;
}

a.link-face{
	color: #2e4aad;
}
a.link-face:hover{
	color: #28288c;

}

p.msg-sucesso{
	font-weight: bold;
	text-align: center;
}

