
.SocialMedia{
	margin-left: 1em;
	height: 2em;
	width: 2em;
}

footer ul li{
	padding-top:1em;
	text-align: center;
	
}
#footer-nav{
	margin: 1em 0em;
}
#logo-footer{
	padding-top: 2em;
	max-width: 100%;
	
	
}
.PageFooter{
	font-family: sans-serif;
	background-color: #E8DB7D;
}
#copyright-footer{
	text-align: center;
	background-color: #82204A;
	color: #EFF7FF;
}