
.socialMedia{
	margin-left: 1em;
	height: 2em;
	width: 2em;
}

footer ul li{
	padding-top:1em;
	text-align: center;
	
}
#footerNav{
	margin: 1em 0em;
}
#logoFooter{
	padding-top: 2em;
	
}
.myFooter{
	font-family: sans-serif;
	background-color: #E8DB7D;
}
#copyrightFooter{
	text-align: center;
	background-color: #82204A;
}