body{
	background-color: #231123;
	color: #EFF7FF;
	
}
h1{
	text-align: center;
}
.page-footer{
	background-color: #E8DB7D;
	font-size: 15px;
}
.socialMedia{
	height: 2em;
	width: 2em;
}
#iconMap{
	width: 12em;
	height: 12em;
	padding: 1em;
}
footer ul li{
	padding-top:1em;
	padding-right: 4em;
}
footer h3{
	color: #82204A;
	margin-left: 1em;
}
footer ul a{

	color:#558C8C;
}
#footerNav{
	margin: 1em 0em;
}
