#produto-indiv{

	background-color: #EFF7FF;
}
#produto-box{

  background-color: rgba(21, 21, 22, 0.2);
  background-clip: border-box;
  border: 1.1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
	margin: 10% 0%;
	padding-bottom: none;
}
#h-produto-indiv{
	font-family: serif;
	text-align: center;
	margin-bottom: 5%;
	margin-right: 5%;
  color: #FFF;
}
#ValorProduto{
	color: #eee;
	font-size: 30px;
	
}

#texto-produto-indiv{

	align-items: center;
	margin-bottom: 5%;
	padding: 1%;
	margin-left: 3%;
  color: #FFF;
	
}
#texto-produto-indiv p{
	text-align: justify;

}
#img-produto-indiv{
	align-items: center;
	border: #231123 solid 1%;
	margin-bottom: 5%;
	margin-left: 3%;
	margin-right: 5%;
	padding: 1%;
}
#btn-produto-indiv{
	background-color: transparent;
	padding: 2% 0%;
}
