#produto-indiv{

	background-color: #231123;
}
#produto-box{

	background-color: #558C8C;
	margin: 10% 0%;
	padding-bottom: none;
}
#h-produto-indiv{

	text-align: center;
	margin-bottom: 5%;
	margin-right: 5%;
	color: #000;

}

#texto-produto-indiv{

	align-items: center;
	margin-bottom: 5%;
	padding: 1%;
	margin-left: 3%;
	
}
#texto-produto-indiv p{
	text-align: justify;
}
#img-produto-indiv{
	align-items: center;
	border: #231123 solid 1%;
	margin-bottom: 5%;
	margin-left: 3%;
	margin-right: 5%;
	padding: 1%;
}
#btn-produto-indiv{
	background-color: #EFF7FF;
	padding: 2% 0%;
}
