.form-control-aumentar{min-width:300px;}




.logo{
	max-width: 200px;
  min-width: 20%;
 


}

.btn-edit{
  
	border: 2;
	border-color: #FFF;
	color: #000;
	background-color: #8080;
  border: 0;

}

.campo-search{
  padding-right: 0px;


}
.icone-adm{
  max-height: 26px;
  padding-right: 10px;
  filter: invert(100%);

}

.form-control-edit {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 0.5;
  color: #6c757d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.form-control-edit:focus {
  color: #6c757d;
  background-color: #fff;
  border-color: #6c757d;
  outline: 2;
  box-shadow: 0 0 0 0.2rem rgba(200, 200,200, 0.25);
}

.quem-somos{

  padding-top: 8%;
  text-align: justify;

}
.textoquemsomos{
  font-size: 23px;

}

.quem-somos-imagem{
  text-align: center;
  padding-bottom:  20px;

}
.titulo-quem-somos-meio
{
  text-align: center;
    padding-bottom: 5px;


}

.titulo-quem-somos-esquerda
{
  padding-left: 80px;
  padding-bottom: 5px;


}

.navbar-edit{
background-color: rgba(0,0,0, 0.94);

}

.imagem-produto{
width: 100%;


}
.linha-card{
  padding: 20px;


}
.informacoes-card {
  color: #fff;


}
.card-img-top{

  margin-top: 20px;

}

.titulo-categorias{
  padding-top: 30px;
  font-size: 30px;
  padding-left: 17px;
}
.checkbox-todas{
  padding: 17px;


}
.checkbox-individual{
  padding-bottom: 10px; 
  margin-bottom: 0.2rem;
}
.btn-2{
   background-color: rgba(0,0,0, 0.54);
  color: #FFF;

}
.btn-2:hover{
 background-color: rgba(0,0,0,0.8)  !important;

}

.aplicar{
  padding-right: 17px;
  border: 0;
  background-color: transparent;
  padding-bottom: 30px;
  text-align: right;
}

 


@media only screen and (max-width: 1024px){
.ajeitar-imagem {
  order: 2;
}
}
.nav-item{
  font-size: 20px;
  padding-right: 70px;
}


.card-2{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(21, 21, 22, 0.2);
  background-clip: border-box;
  border: 1.1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}


.card-2> .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-2> .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
  .card-2{
  display: flex;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 18px;
  margin-bottom: 15px;
  margin-left: 0px;
  }
  .bg{

  background: url('../../assets/img/background.jpg') center center no-repeat fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }
  .card-footer-edit{

    background-color: transparent;
  }
  .fonte{

    font-family: serif;
    color: #fff;
  }

  /* codigo copiado do mdb.min.css para colocar a hover e a shadow no navbar sem precisar chamar todo o arquivo e mudar a pagina dos coleguinhas */
.navbar-2  .nav-item-2 .nav-link-2{color:#FFF;-webkit-transition:.35s;-o-transition:.35s;transition:.35s}

    .navbar-2 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
  padding-right: 1rem !important;
  font-weight: 300; }
  .hover-test:hover{
    color: #000;

  }

.posicao-logo{
  text-align-last: center;

}
.tamanho-padrao-carousel-imagem{
  width:100% !important;
  height: 700px !important;


}
.tamanho-padrao-card-imagem-produtos{
  width:100% !important;
  height: 200px !important;


}

.tamanho-padrao-card-imagem-index{
  width:100% !important;
  height: 400px !important;


}
.subtitulo-categrorias{
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 30px;
}
.icones-navbar{
padding-bottom: 3px;
filter: invert(100%);

}
.titulo-index{
  color: #FFF;


  text-align: center !important;


}
.jumb{
  padding-top: 120px;

}
.jumb-bg{

  background: url('../../assets/img/jumb.jpeg');
   background-position: center; 
}
.card-3{


  background-color: rgba(21, 21, 22, 0.2);
  background-clip: border-box;
  border: 1.1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  
}
.conjunto-categorias{
  padding-top: 20px; 

}
.paginacao{
  color: #fff !important; 
}