.form-control-aumentar{min-width:300px;}




.logo{
	max-width: 200px;
  min-width: 20%;
 


}

.btn-edit{
  /* botão lupa*/
	border: 2;
	border-color: #FFF;
	color: #000;
	background-color: #8080;


}

.campo-search{
<<<<<<< HEAD
  padding-right: 0px;
=======
  padding-right: : 0px;
>>>>>>> nathan


}
.icone-adm{
  max-height: 26px;
  padding-right: 10px;

}
.icone{
  


}
.form-control-edit {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 0.5;
  color: #6c757d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.form-control-edit:focus {
  color: #6c757d;
  background-color: #fff;
  border-color: #6c757d;
  outline: 2;
  box-shadow: 0 0 0 0.2rem rgba(200, 200,200, 0.25);
}

.quem-somos{

  padding-top: 8%;
  text-align: justify;

}
.textoquemsomos{
  font-size: 23px;

}

.quem-somos-imagem{
  text-align: center;
  padding-bottom:  20px;

}
.titulo-quem-somos-meio
{
  text-align: center;
    padding-bottom: 5px;


}

.titulo-quem-somos-esquerda
{
  padding-left: 80px;
  padding-bottom: 5px;


}

.navbar-edit{
  background-color: rgba(35, 17, 35, 0.88);
  opacity: 0.95;

}

.imagem-produto{
width: 100%;


}
.linha-card{
  padding: 20px;


}
.informacoes-card {
  color: #000;


}
.card-img-top{
  padding:  20px;

}

.titulo-categorias{
  padding-top: 30px;
  font-size: 30px;
  padding-left: 17px;
}
.checkbox-todas{
  padding: 17px;


}
.checkbox-individual{
  padding-bottom: 10px; 
  margin-bottom: 0.2rem;
}
.btn-2{
    background-color: #EEE;
}
.aplicar{
  padding-left: 17px;
  border: 2;
  border-color: #FFF;
  color: #000;
  background-color: #8080;


}
.menu-navegacao-paginas{


}

@media only screen and (max-width: 1024px){
.ajeitar-imagem {
  order: 2;
}
}
.nav-item{
  font-size: 20px;
  padding-right: 70px;
}


.card-2 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-2{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}


.card-2> .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-2> .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
  .card-deck .card-2{
  display: flex;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  }
  body{
    background: #EFF7FF;

  }