.menu-navegacao{

}
.logo{
	max-width: 70%;
  padding-left: 5%;

}

.btn{
	border: 2;
	border-color: #FFF;
	color: #FFF;
	background-color: #8080;

}
.campo-search{
  padding-right: : 0px;


}
.icone-adm{
  max-height: 26px;
  padding-right: 10px;

}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 0.5;
  color: #6c757d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.form-control:focus {
  color: #6c757d;
  background-color: #fff;
  border-color: #6c757d;
  outline: 2;
  box-shadow: 0 0 0 0.2rem rgba(200, 200,200, 0.25);
}

.quem-somos{

  padding-top: 8%;
  text-align: justify;

}
.textoquemsomos{
  font-size: 23px;

}

/*lupa*/
.btn{
  border-color: #8080;



}


.navbar{
  min-height: : 80px;


}

.card{



}
.imagem-produto{
width: 100%;


}

